h1 {
    font-size: larger;
    font-weight:bolder;
    color: aliceblue;
}

body {
    margin: 0;
    height: 100vh;
    background-image:url("https://source.unsplash.com/featured/?background,red/1500x900");
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      }

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem;
}