header {
  padding: 1.25rem;
}
* {
  box-sizing: border-box;
}

#navbar {
  border: none;
}

h1 {
  font-size: larger;
  font-weight: bolder;
  color: #f0f8ff;
}

.navbar {
  background-color: transparent;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("https://source.unsplash.com/7LNatQYMzm4/1600x900");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#samplify-logo {
  position: absolute;

  max-height: 4rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem;
}

#search {
  height: 80px;
  width: 80px;
  border: solid 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: 0.3s;
}

#search-input {
  height: 100%;
  width: 0px;
  font-size: 28px;
  font-weight: 600;
  background: none;
  color: #fffff;
  border: none;
  outline: 0;
  visibility: hidden;
  transition: 0.3s;
}

#search.active {
  width: 350px;
}

#search-input.active {
  width: 260px;
  margin-left: 16px;
  visibility: visible;
}

/* input {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 600px;
  height: 80px;
  border-style: solid;
  border-width: 5px;
  border-color: #15c0e0;
  border-radius: 20px;
  padding: 20px;
  background-color: #cc4778;
  opacity: 0.8;
  outline: none;
  transition-duration: 500ms;
  cursor: pointer;
  background-image: url("./assets/images/headphones-on-background-dark-opacity.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 5%;
  font-size: 20px;
  font-weight: bolder;
  color: transparent;
  overflow: hidden;
}
input:focus {
  width: 600px;
  height: 80px;
  cursor: text;
  padding: 20px;
  background-image: url("https://unsplash.com/photos/eICUFSeirc0/1600x900");
  border-color: #4cc9f0;
  color: #ffffff;
}
input:hover,
input:focus {
  background-image: url("https://unsplash.com/photos/eICUFSeirc0/1600x900");
  width: 600px;
  height: 80px;
  border-style: solid;
  border-width: 5px;
  border-color: #5a189a;
  color: #ffffff;
}
.div1 {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 50px;
  height: 5px;
} */

/* search card css */
.swiper-container {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.swiper-slide {
  background-image: url(https://source.unsplash.com/random);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.searchCardContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 250px 230px 60px;
  grid-template-areas: "image" "text" "footer";
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: start;
  border-radius: 12px;
  padding: 0;
  background-color: azure;
  transition: 0.4s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-image {
  grid-area: image;
  background: url(https://images.unsplash.com/photo-1530051315435-58046fbc2649?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-text {
  grid-area: text;
  margin-top: 25px;
  margin-left: 15px;
}

.card-footer {
  grid-area: footer;
}

.delete {
  margin-top: 10px;
  margin-left: 460px;
}
