* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background: url("https://source.unsplash.com/7LNatQYMzm4/1600x900") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

#h1-span {
  margin-top: 1rem;
  font-size: 600px;
  letter-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #15c0e0;
  text-shadow: 3px 3px #f51d76;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: #f0f8ff;
}

header {
  padding: 1.25rem;
}

header ul li a:hover {
  font-size: large;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-end;
  justify-content: space-between;
  background-color: transparent;
}

#samplify-logo {
  max-height: 5rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

/* body {
  margin: 0;
  /* height: 100vh;
  background-image: url("https://source.unsplash.com/7LNatQYMzm4/1600x900"); */
/* background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh; */
/* } */

p {
  font-size: 1rem;
  color: grey;
  font-weight: bolder;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

#search {
  height: 80px;
  width: 80px;
  border: solid 5px;
  border-color: #ebebeb;
  background-color: #15c0e0;
  opacity: 0.75;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: 0.3s;
  margin-top: 40px;
}

#search-input {
  height: 100%;
  width: 0px;
  font-size: 28px;
  font-weight: 600;
  background: none;
  color: #ebebeb;
  border: none;
  outline: 0;
  visibility: hidden;
  transition: 0.3s;
}

#search-icon {
  color: #ebebeb;
  background-color: #15c0e0;
}

#search.active {
  width: 350px;
}

#search-input.active {
  width: 260px;
  margin-left: 16px;
  visibility: visible;
}

/* input {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 600px;
  height: 80px;
  border-style: solid;
  border-width: 5px;
  border-color: #15c0e0;
  border-radius: 20px;
  padding: 20px;
  background-color: #cc4778;
  opacity: 0.8;
  outline: none;
  transition-duration: 500ms;
  cursor: pointer;
  background-image: url("./assets/images/headphones-on-background-dark-opacity.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 5%;
  font-size: 20px;
  font-weight: bolder;
  color: transparent;
  overflow: hidden;
}
input:focus {
  width: 600px;
  height: 80px;
  cursor: text;
  padding: 20px;
  background-image: url("https://unsplash.com/photos/eICUFSeirc0/1600x900");
  border-color: #4cc9f0;
  color: #ffffff;
}
input:hover,
input:focus {
  background-image: url("https://unsplash.com/photos/eICUFSeirc0/1600x900");
  width: 600px;
  height: 80px;
  border-style: solid;
  border-width: 5px;
  border-color: #5a189a;
  color: #ffffff;
}
.div1 {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 50px;
  height: 5px;
} */

/* search card css */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.swiper-container {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.swiper-slide {
  background-image: url(https://source.unsplash.com/random);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.searchCardContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.card {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 250px 230px 60px;
  grid-template-areas: "image" "text" "footer";
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: start;
  border-radius: 12px;
  padding: 0;
  background-color: azure;
  transition: 0.4s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-image {
  grid-area: image;
  /* background: url(https://images.unsplash.com/photo-1530051315435-58046fbc2649?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-position: center;
}

.card-text {
  grid-area: text;
  margin-top: 25px;
  margin-left: 15px;
}

#artistImage {
  height: 3rem;
  width: 3rem;
  border-radius: 60px;
}

.card-footer {
  grid-area: footer;
}

.deleteCard {
  margin-top: 5px;
  margin-right: 5px;
}

#titleAndArtwork {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  width: 65vw;
}

.songDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: unset;
  margin: 2rem;
  font-size: 1.2rem;
  width: 100%;
}

#titleOfSong {
  color: black;
  padding: 0rem;
  text-align: unset;
}

#songArtist {
  font-weight: normal;
  font-size: 1.7rem;
  color: black;
  margin: 0rem;
  padding: 0rem;
  text-align: unset;
}

.albumArtworkImg {
  max-width: 300px;
  max-height: 300px;
}

.appleMusic {
  flex-direction: row;
  width: 100%;
}

.tile {
  flex-grow: unset;
  border: none;
}

/* .iframe-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
} */

.iframe-container-M {
  display: none;
}

.iframe-container-S {
  display: none;
}

.iframe-container-XS {
  display: none;
}

.notification.is-info {
  background-color: rgb(0, 0, 0, 0.6);
}

#sampleHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  padding: 10px;
}

#sampleContainer {
  display: flex;
  flex-direction: column;
  margin: 6rem;
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/*Devices over 1200px*/
@media screen and (min-width: 1201px) {
  #h1-span {
    margin-top: 6rem;
  }
}

/*XL Breakpoint*/
@media screen and (max-width: 1200px) and (min-width: 993px) {
  #titleAndArtwork {
    flex-direction: column;
  }

  #h1-span {
    margin-top: 6rem;
  }

  .album-artwork-img {
    max-width: 200px;
    max-height: 200px;
  }
}

/*Large Breakpoint*/
@media screen and (max-width: 992px) {
  #titleAndArtwork {
    flex-direction: column;
  }

  #h1-span {
    margin-top: 6rem;
  }

  .album-artwork-img {
    max-width: 195px;
    max-height: 195px;
  }
}

/*Medium Breakpoint*/
@media screen and (max-width: 768px) {
  #h1-span {
    margin-top: 6rem;
  }
  .album-artwork-img {
    max-width: 190px;
    max-height: 190px;
  }

  #titleAndArtwork {
    flex-direction: column;
  }

  .iframe-container-L {
    display: none;
  }

  .iframe-container-M {
    display: block;
  }
}

/*Small Breakpoint*/
@media screen and (max-width: 576px) {
  #h1-span {
    margin-top: 12.5rem;
  }
  .navbar {
    flex-direction: column;
  }
  ul {
    flex-direction: column;
  }
  li {
    flex-direction: column;
  }
  #titleAndArtwork {
    flex-direction: column;
  }

  .cards-container {
    margin-top: 3rem;
  }
  .swiper-container {
    padding-top: 0.25px;
  }

  .title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 510px) {
  .card {
    grid-template-columns: 400px;
  }
}

@media screen and (max-width: 500px) {
  .iframe-container-M {
    display: none;
  }
  .iframe-container-S {
    display: block;
  }
}

/*IPhone 6/7/8Plus*/
@media screen and (max-width: 414px) {
  .card {
    grid-template-columns: 350px;
  }
  .album-artwork-img {
    max-width: 170px;
    max-height: 170px;
  }
  .iframe-container-XS {
    display: none;
  }
}

/*Iphone 5/SE*/
@media screen and (max-width: 320px) {
  .swiper-container {
    padding-top: 0.1px;
  }
  .card {
    grid-template-columns: 300px;
  }

  .card-text {
    text-align: center;
    margin-left: 0px;
  }

  .album-artwork-img {
    max-width: 100px;
    max-height: 100px;
  }

  .iframe-container-S {
    display: none;
  }

  .iframe-container-XS {
    display: block;
  }
}
